<extend name="public:base" />
<block name="link">
    <link href="__PUBLIC__/Home/Css/prod-list_showgoods.css" rel="stylesheet" type="text/css">
</block>
<block name="shopcar">
    <div id="content" class="cl">
        <input type="hidden" name="pageNavMappingIndex" id="pageNavMappingIndex" value="0">

        <div class="wrapper">
            <div class="crumbs">您的位置:<a class="first" href="http://shop.vivo.com.cn/">首页</a><b></b>
                手机产品
            </div>
        </div>
        <div class="container wrapper">
            <h2>所有产品</h2>
            <div class="list-box">
                <ul id="j_ProdList" class="prod-list cl">
                    <a target="_blank" href="{:U('Car/shopCar')}">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="http://files.shop.vivo.com.cn/vivoshop/commodity/89/4089_1469783950263_530x530.png" style="position: relative; top: 0px;">
                            </div>
                            <h3>
                                【热销新品】X7Plus
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>2798.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/9927">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4079_1469783919244_530x530.png" style="position: relative; top: -15px;">
                            </div>
                            <h3>
                                【热销新品】X7
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>2498.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/9914">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4082_1467599941737_530x530.png" style="position: relative; top: 0px;">
                            </div>
                            <h3>
                                【热销】X6S 全网通
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>2298.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/9918">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4091_1468754025987_530x530.png" style="position: relative;">
                            </div>
                            <h3>
                                V3Max
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>1798.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/9926">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4074_1466473705207_530x530.png" style="position: relative; top: 0px;">
                            </div>
                            <h3>
                                V3 全网通高配版
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>1698.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/248">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4023_1466474831049_530x530.png" style="position: relative;">
                            </div>
                            <h3>
                                Xplay5
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>3698.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/9915">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4084_1467600213255_530x530.png" style="position: relative; top: 0px;">
                            </div>
                            <h3>
                                X6S Plus全网通
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>2798.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/9920">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/4069_1466474709871_530x530.png" style="position: relative; top: 0px;">
                            </div>
                            <h3>
                                V3移动版
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>1598.00
                            </p>
                        </li>
                    </a>
                    <a target="_blank" href="http://shop.vivo.com.cn/product/125">
                        <li class="prod-item">
                            <div class="figure">
                                <img src="./商品展示_files/1932_1466474965619_530x530.png" style="position: relative; top: 0px;">
                            </div>
                            <h3>
                                Y51A 高配版
                            </h3>
                            <p class="price">
                                <dfn>¥</dfn>1098.00
                            </p>
                        </li>
                    </a>
                </ul>
            </div>



        </div>
    </div>








</block>