<extend name="Index/index" />
<block name="con">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">手机图片添加</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" action="<{:U('Admin/Pic/insert')}>" method="post" enctype="multipart/form-data">
                                <!-- <div class="form-group">
                                    <label>选择图片主人</label>
                                    <select class="form-control" name="hostId">
                                        <foreach name="hosts" item="vo">
                                        <option value="<{$vo['id']}>" <{$hostId == $vo['id'] ? selected : '' }>><{$vo['name']}></option>
                                        </foreach>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>图片分类</label>
                                    <select class="form-control" name="fenlei">
                                       
                                        <option value="0" <{$fenlei == '0' ? selected :''}>>手机图片</option>
                                        <option value="1" <{$fenlei == '1' ? selected :''}>>配件图片</option>
                                       
                                    </select>
                                </div> -->
                                <div class="form-group">
                                    <label>图片用途</label>
                                    <select class="form-control" name="yongtu">
                                       
                                        <option value="0">轮播图</option>
                                        <option value="1">详情图</option>
                                        <option value="2">参数图</option>
                                       
                                    </select>
                                </div>
                               
                                <div class="form-group">
                                    <label>图片的序列号</label>
                                    <input name="xu" type="text" class="form-control" >
                                </div>
                                <if condition="$fenlei eq 0 ">
                                <div class="form-group">
                                    <label>请选择手机的颜色</label><br>
                                    <label class="radio-inline">
                                            <input name="color" type="radio" value="0" checked>无
                                    </label>
                                    <foreach name="colors" item="vo" > 
                                    
                                        <label class="radio-inline">
                                            <input name="color" type="radio" value="<{$key}>"><{$vo}>
                                        </label>
                                   
                                    </foreach><br>
                                    <span style="font-size:10px">如果为轮播图请选择商品颜色</span>
                                </div>
                                </if>
                                <div class="form-group">
                                    <label>请上传图片</label>
                                    <input type="file" name="pic[]" multiple>
                                </div>
                                    <input type="hidden" name="hostName" value="<{$hostName}>">
                                    <input type="hidden" name="hostId" value="<{$hostId}>">
                                    <input type="hidden" name="fenlei" value="<{$fenlei}>"> 
                                
                                
                                <button  class="btn btn-primary">添加</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                       
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>    
</block>