<extend name="public/base" />
<block name='link'>
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/layout_shopcar.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/shopcart_shopcar.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/buy-process_shopcar.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/global_shopcar.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/dialog_shopcar.css">
</block>
<block name="shopcar">

    <div id="content" class="cl">
        <div class="wrapper">
            <div class="buy-steps"></div>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="prod-list">
                    <div class="no-result">
                        <img src="http://files.shop.vivo.com.cn/vivoshop/web/dist/img/prod/shopping-cart_50507a3.png">

                        <p class="comment">亲，您的购物车里还没有物品哦，赶紧去<a href="{:U('Goods/showGoods')}">逛逛</a>吧</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- z-contain -->
    </div>

   <!--  <div id="airbox" style="margin-left: 620px;">
        <div id="j_GoTop" class="go-top" style="display: none;">
            <a href="javascript:;" rel="nofollow" title="返回顶部"></a>
        </div>
    </div>
    <div id="side-bar">
        <a class="online-service" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4007161118&amp;aty=0&amp;a=0&amp;curl=&amp;ty=1">
        </a>
    </div><script src="./car_files/hm.js" async=""></script><script>
        var webCtx = "";
        var passportHost = "https://passport.vivo.com.cn/v3/web/login/authorize?client_id=3";
    </script>
    <script src="./car_files/jquery.min_6163309.js"></script>
    <script src="./car_files/jquery.cookie_a5283b2.js"></script>
    <script src="./car_files/jquery.lazyload_546c1da.js"></script>
    <script src="./car_files/vivo-common_45a6840.js"></script>
    <script src="./car_files/vivo-stat_76be2ec.js"></script>
    <script src="./car_files/login_confirm_f326a0e.js"></script>
    <script src="./car_files/index_68305ac.js"></script>
    <script src="./car_files/dialog_6a2b3fb.js"></script>

    <script>
        //百度统计代码
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?0a38f90134ba281b974d46dfeec121e0";
            hm.async = true;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
   -->
</block>